<div class="content round">
  <div class="row-fluid">
    <div class="span12">

      <%= render 'layouts/messages' %>

      <h3>Edit Picture</h3>

	  	<%= render 'form' %>
	  	<br />
		<%= link_to "Back to Gallery", @painting.gallery %>

    </div>
  </div>
</div>
