<div class="content round">
  <div class="row">
    <div class="span8">

      <%= render 'layouts/messages' %>
      <h3>User</h3>
      <p>User: <%= @user.name %></p>
      <p>Email: <%= @user.email if @user.email %></p>

    </div>
  </div>
</div>
