<div class="content round">
  <div class="row-fluid">
    <div class="span12">

      <%= render 'layouts/messages' %>

      <h3>Update Document Type</h3>

  	  <%= render 'form' %>
  	  <br />
  	  <%= link_to 'Show', @document_type %> |
      <%= link_to 'Back', document_types_path %>

    </div>
  </div>
</div>
