<div class="content round">
  <div class="row">
    <div class="span12">

      <%= render 'layouts/messages' %>

      <h3>Update Document Type</h3>

  	  <%= render 'form' %>
  	  <br />
  	  <%= link_to 'Show', @document_type, :class => 'btn btn-primary btn-mini' %> |
      <%= link_to 'Back', document_types_path, :class => 'btn btn-primary btn-mini' %>

    </div>
  </div>
</div>
