<div class="content round">
  <div class="row-fluid">
    <div class="span12">

      <%= render 'layouts/messages' %>

      <h3>Create Document Type</h3>

	  	<%= render 'form' %>
	  	<br />
	  	<%= link_to 'Back', document_types_path, :class => 'btn btn-primary btn-mini' %>

    </div>
  </div>
</div>