
<!-- Subhead
================================================== -->
<div class="subhead content round" id="overview">
  <div class="container">
	  <%= render 'layouts/messages' %>
	  <h3>About Us</h3>
	  <p>This is a product of the <%= ENV["SITE_NAME"] %> group.</p>
	</div>
</div>

<br />

<div class="content round">	

	<div class="row-fluid">

		<!-- Docs nav
		================================================== -->
		<div class="span3 bs-docs-sidebar">
			<ul class="nav nav-list bs-docs-sidenav">
			  <li><a href="#technology"><i class="icon-chevron-right"></i> Technology</a></li>
			  <li><a href="#documents"><i class="icon-chevron-right"></i> Document Section</a></li>
			  <li><a href="#examples"><i class="icon-chevron-right"></i> Examples</a></li>
			  <li><a href="#what-next"><i class="icon-chevron-right"></i> What next?</a></li>
			</ul>
		</div>
		<div class="span9">

        <!-- Download
        ================================================== -->
        <section id="technology">
          <div class="page-header">
            <h1>1. Technology</h1>
          </div>
          <p class="lead">This is a ruby on rails application. The inital application has been created with the Rails Composer using Devise, CanCan with Rolify. The backend can be configured tou use the database of choice. The application is using twitter-bootstrap for it's visual affects.</p>

          <div class="row-fluid">
            <div class="span6">
              <h2>Twitter Bootstrap</h2>
              <p><strong>Checkout the Bootstrap website.</p>
              <p><a class="btn btn-large btn-primary" href="http://getbootstrap.com/2.3.2/" target="_blank">Bootstrap</a></p>
            </div>
            <div class="span6">
              <h2>Rails Composer</h2>
              <p>Checkout rails composer on github.</p>
              <p><a class="btn btn-large" href="https://github.com/RailsApps/rails-composer" target="_blank">Rails Composer</a></p>
            </div>
          </div>
        </section>

        <!-- Documents
        ================================================== -->
        <section id="documents">
          <div class="page-header">
            <h1>2. Documents</h1>
          </div>
          <p class="lead">This website has a documentation system for the handling of code snippets. The documents can be stored under multible document types.</p>

          <h2>Document Sections</h2>
          <h4>Serach</h4>
          <p>You can search for all documets by title, doc type or content.</p>
          <h4>View</h4>
          <p>You can view all documents except for private ones. Private documents can only be vied by the user who has created them.</p>
          <h4>Create</h4>
          <p>You can create a document with docs access.</p>
          <h4>Update</h4>
          <p>You can only update the documents that you create. Admin users can update all documents.</p>
          <h4>Remove</h4>
          <p>You can only remove the documents that you create. Admin users can remove all documents.</p>
          <h4>Private</h4>
          <p>You can create a private document which only you can view, update or remove. Admins will not have access to these documents only the user who has created them.</p>          
          <h2>List Document Types</h2>
          <p>Note: Document types can be only added by admin users.</p>
          <ul>
            <li>Text</li>
            <li>Perl</li>
            <li>Java</li>
            <li>Ruby</li>
            <li>HTML</li>
            <li>MySQL</li>
            <li>PL/SQL</li>
            <li>Rails</li>
            <li>PHP</li>
            <li>More can be added</li>
          </ul>
          <p>The document system is a great way to handle all your document and code snippets.</p>
        </section>

        <!-- Document Example
        ================================================== -->
        <section id="examples">
          <div class="page-header">
            <h1>3. Examples</h1>
          </div>
          <p class="lead">This is some examples of the documents and how they will look on this website.</p>
          <p>Now, here's a look at a <strong>typical HTML file</strong>:</p>
<pre class="prettyprint linenums">
&lt;!DOCTYPE html&gt;
&lt;html&gt;
  &lt;head&gt;
    &lt;title&gt;Page Template&lt;/title&gt;
    &lt;meta name="viewport" content="width=device-width, initial-scale=1.0"&gt;
  &lt;/head&gt;
  &lt;body&gt;
    &lt;h1&gt;Hello, world!&lt;/h1&gt;
    &lt;p&gt;This is a test template page&gt;&lt;/p&gt;
  &lt;/body&gt;
&lt;/html&gt;
</pre>

          <p>Here's a look at a <strong>typical Perl file</strong>:</p>
<pre class="prettyprint linenums">
#!/usr/local/bin/perl -w
#
# Program to do the obvious
#

use strict;
use warnings;

print 'Hello world.';   # Print a message

exit;
</pre>

          <p>Here's a look at a <strong>typical Rails class</strong>:</p>
<pre class="prettyprint linenums">
class DocumentType < ActiveRecord::Base

  attr_accessible :description, :name, :user_id

  validates_presence_of :description, :name, :user_id

  has_and_belongs_to_many :documents

  before_validation strip_attributes :except => [:user_id]

  validates_uniqueness_of :name
  validates_length_of :name, :maximum => 255
  validates_length_of :description, :maximum => 255

  private

    def self.search(search)
      if search
        find(:all, 
             :select => 'DISTINCT document_types.*', 
             :conditions => ['document_types.name LIKE ? or document_types.description LIKE ?', "%#{search}%", "%#{search}%"]
        )
      else
        find(:all)
      end
    end 

end
</pre>
          <p><strong>Syntax Highlighted!</strong> These examples show how the documents will be syntax highlighted.</p>
        </section>

        <!-- Next
        ================================================== -->
        <section id="what-next">
          <div class="page-header">
            <h1>What next?</h1>
          </div>
          <p class="lead">The <%= ENV["SITE_NAME"] %> group will continue to add more features to this site.</p>
          <p>Feel free to contact us on anything about this website.</p>
          <%= link_to 'Contact Us', contact_path, :class => "btn btn-large btn-primary" %>
        </section>

        </div>
    </div>
</div>

