<div class="content round">
  <div class="row">
    <div class="span12">

      <%= render 'layouts/messages' %>
      <h3>About Us</h3>
      <p>This is a ruby on rails application from the <%= ENV["SITE_NAME"] %> group.</p>
      
    </div>
  </div>
</div>
