<div class="content round">
  <div class="row">
    <div class="span12">

      <%= render 'layouts/messages' %>

      <h3>Videos</h3>

      <%= link_to "Clich here to default video", "", :id => 'youtube_player' %>

      <script>
        $(document).ready(function(){
          $('a#youtube_player').click(function(e){
            e.preventDefault()
            $.lazybox("<%= j(render :partial => 'layouts/player') %>", {niceClose: true, opacity: 0.7, speed: 500, klass: 'player'});
          })
        })
      </script>

    </div>
  </div>
</div>