<div class="content round">
  <div class="row-fluid">
    <div class="span12">

      <%= render 'layouts/messages' %>

      <h3>Create Document</h3>

	    <%= render 'form' %>
	    <br />
	    <%= link_to 'Back', documents_path, :class => 'btn btn-primary btn-mini' %>

    </div>
  </div>
</div>
