<div class="content round">
  <div class="row-fluid">
    <div class="span12">

      <%= render 'layouts/messages' %>

      <h3>Create Picture</h3>

	  	<%= render 'form' %>
	  	<br />
	  	<%= link_to "Back to Gallery", @picture.gallery %>

    </div>
  </div>
</div>
