<tr>
  <td data-title="Name" id="gal_hint"><%= link_to gallery.name, gallery, :title => 'Show '+gallery.name+' Pictures', :'data-placement' => 'right' %></td>
  <td data-title="Pictures"><%= gallery.paintings.size %></td>
</tr>