<div class="content round">
  <div class="row-fluid">
    <div class="span12">

      <%= render 'layouts/messages' %>

      <h3>Create Picture Gallery</h3>

	  	<%= render 'form' %>
	  	<br />
	  	<%= link_to "Back to List", galleries_path %>

    </div>
  </div>
</div>
