<div class="container">
  <div class="footer round">
     <div class="row">
      <div class="span12">
        <footer>
          Copyright &copy; 2013 <%= ENV["SITE_NAME"] %>, All rights reserved.
        </footer> 
      </div>
    </div>
  </div>
</div> <!--! end of .container -->  
