<div class="container">
  <div class="content round">
     <div class="row">
      <div class="span12">
        <footer>
            This is a test footer.....
        </footer> 
      </div>
    </div>
  </div>
</div> <!--! end of .container -->  
