<div class="container">
  <div class="content round">
     <div class="row">
      <div class="span12">
        <footer>
          &copy; 2013 - 2015 mfTechnology - A Division Of The mfTechnology Group
        </footer> 
      </div>
    </div>
  </div>
</div> <!--! end of .container -->  
