<div class="container">
  <div class="footer round">
     <div class="row">
      <div class="span12">
        <footer>
          &copy; 2013 - 2015 <%= ENV["SITE_NAME"] %> - A Division Of The <%= ENV["SITE_NAME"] %> Group
        </footer> 
      </div>
    </div>
  </div>
</div> <!--! end of .container -->  
