<div id='sm_hint'>
	<h5>Connect With Us</h5>
	<%= link_to image_tag('twitter.gif'), "http://twitter.com", :title => "Follow on "+ENV["SITE_NAME"]+" Twitter" %>
	<%= link_to image_tag('facebook.gif'), "http://www.facebook.com", :title => "Follow on "+ENV["SITE_NAME"]+" Facebook" %>
	<%= link_to image_tag('linkedin.gif'), "http://www.linkedin.com", :title => "Follow on "+ENV["SITE_NAME"]+" Linkedin" %>
	<%= link_to image_tag('gplus-32.png', :class => "social-media"), "https://plus.google.com", :title => "Follow on "+ENV["SITE_NAME"]+" Google+" %>
</div>

<script>
	$("#sm_hint a").tooltip()
</script>
